.hero {
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(images/banner.webp);
    background-size: cover; 
    background-position: center;
}

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
}



.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.pre_launch_section {
    background: linear-gradient(to bottom, rgba(0,0,0,0.7), rgba(0,0,0,0.9)), url(images/parallax1.webp);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-lg-5 {
    padding-top: 3rem;
    padding-bottom: 3rem;
}